<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS 스타일</title>
    <style>
        /* 태그 선택자 - h, p 태그에 스타일 적용
           클래스 선택자 - .p1, .p2 클래스에 스타일 적용
        */
        h1{color: #020fef;}
        p{font-family: '궁서';}
        .p1{color: red;}
        .p2{color: blue;}
    </style>
</head>
<body>
    <h1>마늘</h1>
    <h2>마늘의 효능</h2>
    <p class="p1">마늘은 면역력 강화에 도움을 줍니다.</p>
    <p class="p2">마늘은 심혈관 건강에 좋습니다.</p>
</body>
</html>